@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title</h2>
<hr />
<address>
    <strong>
        7500   гр. Силистра<br />
        ул. „7-ми Септември“ 59<br />
    </strong>
    <abbr title="Phone"><strong>Телефони: </strong></abbr>
    086 824 149; 086 824 119
    <br />
    <abbr title="e-mail"><strong>e-mail: </strong></abbr>
    tlp.ss@mail.bg
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d716.18432097065!2d27.268241299999993!3d44.109412600000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b01f9b27428207%3A0xd9927aa64d5c30a8!2z0YPQuy4g4oCeNy3QvNC4INCh0LXQv9GC0LXQvNCy0YDQuOKAnCA1OSwgNzUwMCDQodC40LvQuNGB0YLRgNCw!5e0!3m2!1sbg!2sbg!4v1431264940892" width="800" height="600" frameborder="0" style="border:0"></iframe>


@*<div class="form-horizontal">
        <div id="map_canvas" class="col-md-12 text-center" style="width: 400px; height: 300px; margin:0 auto;">

        </div>
    </div>*@<br />


<a href="https://maps.google.com/maps?hl=en&q=to:ulitsa 7-mi septemvri 59, 7500 Silistra, Bulgaria" target="_blank">Get Directions</a>