
@{
    ViewBag.Title = "ScheduleYear";
}

<h2>Учебна година</h2>
<br />

<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
    <tbody>
        <tr>
            <td height="98" colspan="2">
                <table border="1" align="center" cellpadding="0" cellspacing="2" style="width: 90%;">
                    <tbody>
                        <tr bgcolor="#FFFFC4">
                            <td height="60" colspan="3">
                                <div align="center"><strong>ГРАФИК<br>на учебното време за учебната 2012 / 2013 година</strong></div>
                            </td>
                        </tr>
                        <tr>
                            <td width="26%" rowspan="5" bgcolor="#FFFFFF" class="ptabletable14Bold">ВАКАНЦИИ<br><strong><br>(начало и край на ваканциите с изключение на лятната през учебната 2012/2013 година)</strong></td>
                            <td width="38%" bgcolor="#FFFFFF" class="ptabletable14Middle">есенна</td>
                            <td width="36%" height="30" bgcolor="#FFFFFF" class="ptabletable14Middle">01.11.2012 г. – 04.11.2012 г. вкл.</td>
                        </tr>
                        <tr>
                            <td height="30" bgcolor="#FFFFFF" class="ptabletable14Middle">Коледна</td>
                            <td height="30" bgcolor="#FFFFFF" class="ptabletable14Middle">22.12.2012 г. – 06.01.2013 г. вкл.</td>
                        </tr>
                        <tr>
                            <td height="30" bgcolor="#FFFFFF" class="ptabletable14Middle">зимна</td>
                            <td height="30" bgcolor="#FFFFFF" class="ptabletable14Middle">23.02.2013 г. – 25.02.2013 г. вкл.</td>
                        </tr>
                        <tr>
                            <td height="30" bgcolor="#FFFFFF" class="ptabletable14Middle">пролетна за І-ХІ клас</td>
                            <td height="30" bgcolor="#FFFFFF" class="ptabletable14Middle">29.03.2013 г. – 07.04.2013 г. вкл.</td>
                        </tr>
                        <tr>
                            <td height="30" bgcolor="#FFFFFF" class="ptabletable14Middle">пролетна за&nbsp; ХІІ клас</td>
                            <td height="30" bgcolor="#FFFFFF" class="ptabletable14Middle">29.03.2013 г. – 31.03.2013 г. вкл.</td>
                        </tr>
                        <tr>
                            <td rowspan="2" bgcolor="#FFFFEA" class="ptabletable14Bold">НЕУЧЕБНИ ДНИ</td>
                            <td height="30" bgcolor="#FFFFEA" class="ptabletable14Middle">ДЗИ по български език и литература и НВО в VII клас по български език и<br>литература</td>
                            <td height="30" bgcolor="#FFFFEA" class="ptabletable14Middle">21.05.2013 г.</td>
                        </tr>
                        <tr>
                            <td height="14" bgcolor="#FFFFEA" class="ptabletable14Middle">Втори ДЗИ и НВО в VII клас по математика</td>
                            <td height="14" bgcolor="#FFFFEA" class="ptabletable14Middle">23.05.2013 г.</td>
                        </tr>
                        <tr>
                            <td bgcolor="#FFFFFF" class="ptabletable14Bold">НАЧАЛО НА ВТОРИЯ УЧЕБЕН СРОК</td>
                            <td height="51" bgcolor="#FFFFFF">&nbsp;</td>
                            <td height="51" bgcolor="#FFFFFF" class="ptabletable14Middle">06.02.2013 г.</td>
                        </tr>
                        <tr>
                            <td rowspan="6" bgcolor="#FFFFFF" class="ptabletable14Bold">КРАЙ НА ВТОРИЯ УЧЕБЕН СРОК</td>
                            <td height="14" bgcolor="#FFFFFF" class="ptabletable14Middle">XII клас (13 учебни седмици)</td>
                            <td height="14" bgcolor="#FFFFFF" class="ptabletable14Middle">14.05.2013 г.</td>
                        </tr>
                        <tr>
                            <td height="14" bgcolor="#FFFFFF" class="ptabletable14Middle">I клас ( 13 учебни седмици )</td>
                            <td height="14" bgcolor="#FFFFFF" class="ptabletable14Middle">24.05.2013 г.</td>
                        </tr>
                        <tr>
                            <td height="14" bgcolor="#FFFFFF" class="ptabletable14Middle">II-IV клас (14 учебни седмици)</td>
                            <td height="14" bgcolor="#FFFFFF" class="ptabletable14Middle">31.05.2013 г.</td>
                        </tr>
                        <tr>
                            <td height="14" bgcolor="#FFFFFF" class="ptabletable14Middle">V-VIII клас ( 16 учебни седмици )</td>
                            <td height="14" bgcolor="#FFFFFF" class="ptabletable14Middle">15.06.2013 г.</td>
                        </tr>
                        <tr>
                            <td height="14" bgcolor="#FFFFFF" class="ptabletable14Middle">VIII клас (18 учебни седмици за паралелки с прием след завършен седми<br>клас с интензивно изучаване на чужд език)</td>
                            <td height="14" bgcolor="#FFFFFF" class="ptabletable14Middle">30.06.2013 г.</td>
                        </tr>
                        <tr>
                            <td height="14" bgcolor="#FFFFFF" class="ptabletable14Middle">IX-XI клас (18 учебни седмици)</td>
                            <td height="14" bgcolor="#FFFFFF" class="ptabletable14Middle">30.06.2013 г.<br><br></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>