
@{
    ViewBag.Title = "ViewErrorYear";
}

<h2>Грешка!</h2><br />
<br />
@*<h3>Не може да добавяте празно поле.</h3>
<h3>Не може да добавяте повече от една учебна година.</h3>*@
<br />
<h3>@ViewBag.Message</h3>

<div>
    @Html.ActionLink("Обратно в \"Преглед\"", "Index")
</div>