@model IEnumerable<School.ViewModels.ContentLearningProcessModes.LentTermStartViewModel>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-6 text-left">@Html.DisplayFor(model => item.Text)</div>
        <div class="col-md-6 text-left">@Html.DisplayFor(model => item.Date)</div>
    </div>
    <br />
}


