@model School.Models.BaseScheduleYearModel

@{
    ViewBag.Title = "Details";
}

<h2>Детайли</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScheduleYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleYear)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактиране", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Обратно в \"Преглед\"", "Index")
</p>
